<template>
  <div v-if="loaded">
    <div align="left" style="margin: 10px">
      <a @click="$router.back()" style="text-decoration: underline; color: blue; cursor: pointer">Back</a>
    </div>
    <div>click player name to add an event.</div>
    <table style="margin: auto; cursor: default">
      <tr>
        <th style="padding-right: 20px">{{ state.info.match.home_team.name }}</th>
        <th style="padding-left: 20px">{{ state.info.match.away_team.name }}</th>
      </tr>
      <tr :key="i"
          v-for="i in Math.max(state.info.match.home_team.players.length, state.info.match.away_team.players.length)">
        <td
          :class="{ player: true, left: true, selected: selectedPlayer.id === state.info.match.home_team.players[i - 1].id }"
          @click="playerClick('home', i - 1, $event)">{{ state.info.match.home_team.players[i - 1] ?
          state.info.match.home_team.players[i - 1].name : ''
          }}
        </td> <!-- in case of uneven teams use '' to pad the table -->
        <td
          :class="{ player: true, right: true, selected: selectedPlayer.id === state.info.match.away_team.players[i - 1].id }"
          @click="playerClick('away', i - 1, $event)">{{ state.info.match.away_team.players[i - 1] ?
          state.info.match.away_team.players[i - 1].name : ''
          }}
        </td>
      </tr>
    </table>
    <div :style="{ top: menuY + 'px', left: menuX + 'px' }" id="menu" ref="menu" v-if="menuOpened">
      <table style="text-align: left; border-collapse: collapse">
        <tr style="border-bottom: 2px solid grey">
          <td style="padding: 2px">Time: <input :value="zeroPad(Math.floor(timeHint / 60))" id="minutes" size="1">:<input :value="zeroPad(timeHint % 60)" id="seconds" size="1">
          </td>
        </tr>
        <tr>
          <td @click="addEvent('GOAL')" class="button">Goal</td>
        </tr>
        <tr>
          <td @click="addEvent('OWN_GOAL')" class="button">Own goal</td>
        </tr>
        <tr>
          <td @click="addEvent('RED')" class="button">Red card</td>
        </tr>
        <tr>
          <td @click="addEvent('YELLOW')" class="button">Yellow card</td>
        </tr>
      </table>
    </div>
    <div v-if="assistingPlayerIsBeingSelected">
      Pick assisting player. (<button @click="noAssistingPlayerSelected">None</button>)
    </div>
    <div>
      <a @click="endMatch" style="text-decoration: underline; color: blue; cursor: pointer">End match</a>
    </div>
    <event-log></event-log>
  </div>
</template>

<script>
import eventApi from '../api/EventApi'
import matchApi from '../api/MatchApi'

export default {
  name: 'EditMatchPage',
  data () {
    return {
      state: this.$store.state,
      loaded: false,
      time: 0,
      selectedPlayer: {},
      assistingPlayer: {},
      timeHint: 0,
      menuX: 0,
      menuY: 0,
      menuOpened: false,
      assistingPlayerIsBeingSelected: false
    }
  },
  methods: {
    zeroPad (num) {
      return num.toLocaleString('en', { minimumIntegerDigits: 2 })
    },
    playerClick (teamSide, playerIndex, event) {
      if (!this.assistingPlayerIsBeingSelected) {
        this.showMenu(teamSide, playerIndex, event)
      } else {
        const team = (teamSide === 'home' ? this.$store.state.info.match.home_team : this.$store.state.info.match.away_team)
        this.assistingPlayer = team.players[playerIndex]
        this.assistingPlayerIsBeingSelected = false
        this.addGoal()
        this.assistingPlayer = {}
      }
    },
    showMenu (teamSide, playerIndex, event) {
      const team = (teamSide === 'home' ? this.$store.state.info.match.home_team : this.$store.state.info.match.away_team)
      this.selectedPlayer = team.players[playerIndex]
      this.timeHint = this.time
      this.menuY = event.pageY
      this.menuX = event.pageX
      if (!this.menuOpened) {
        this.menuOpened = true
        setTimeout(() => {
          window.addEventListener('click', this.hideMenu)
        }, 10)
      }
    },
    hideMenu (event) {
      if (event.path.length <= 7) { // checks if click was outside of control elements
        window.removeEventListener('click', this.hideMenu)
        this.menuOpened = false
      }
    },
    forceHideMenu () {
      window.removeEventListener('click', this.hideMenu)
      this.menuOpened = false
    },
    async addEvent (type) {
      this.forceHideMenu()
      // update time with new data
      this.time = document.getElementById('minutes').value * 60 + parseInt(document.getElementById('seconds').value)
      let event = {
        match_id: this.state.info.match.id,
        team: this.selectedPlayer.team_id === this.state.info.match.home_team.id ? 'HOME' : 'AWAY',
        player1_id: this.selectedPlayer.id,
        player2_id: null,
        time: this.time,
        type
      }
      switch (type) {
        case 'GOAL':
          this.assistingPlayerIsBeingSelected = true
          break
        case 'OWN_GOAL':
        case 'RED':
        case 'YELLOW':
          await eventApi.addEvent(event)
          this.selectedPlayer = {}
          this.updateLog()
          break
      }
    },
    noAssistingPlayerSelected () {
      this.assistingPlayer = {}
      this.assistingPlayerIsBeingSelected = false
      this.addGoal()
    },
    async addGoal () {
      await eventApi.addEvent({
        match_id: this.state.info.match.id,
        team: this.selectedPlayer.team_id === this.state.info.match.home_team.id ? 'HOME' : 'AWAY',
        player1_id: this.selectedPlayer.id,
        player2_id: this.assistingPlayer.id,
        time: this.time,
        type: 'GOAL'
      })
      this.updateLog()
    },
    async endMatch () {
      await matchApi.endMatch(this.$route.params.id)
      this.$router.back()
    },
    updateLog () {
      this.$store.dispatch('info/getMatch', { id: this.$route.params.id })
    }
  },
  async beforeCreate () {
    await this.$store.dispatch('info/getMatch', { id: this.$route.params.id })
    setInterval(() => {
      this.time++
    }, 1000)
    if (this.state.info.match.state === 'SCHEDULED') {
      matchApi.startMatch(this.$route.params.id)
    }
    this.loaded = true
  }
}
</script>

<style scoped>
  #menu {
    z-index: 1000;
    position: absolute;
    background-color: #f9fcff;
    cursor: default;
    border: 2px solid dimgrey;
    box-shadow: 5px 5px 5px lightgrey;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .player {
    cursor: pointer;
    padding: 2px;
    border: 2px solid transparent;
  }

  .player:hover {
    border-bottom: 2px solid dimgrey;
  }

  .selected {
    border: 2px solid dimgrey;
  }

  .button {
    cursor: pointer;
    padding: 2px;
    border-bottom: 2px solid transparent;
  }

  .button:hover {
    border-bottom: 2px solid dimgrey;
  }
</style>
