<template>
  <table class="bottom-bordered">
    <tr :key="event.id" style="height: 40px" v-for="event in state.info.match.events">
      <template
        v-if="event.team === HOME && event.type !== OWN_GOAL || event.team === AWAY && event.type === OWN_GOAL">
        <td align="right" style="width: 300px;" v-if="event.player2 != null">{{ event.player2.name }}
          <font-awesome-icon icon="angle-double-right"/>
          {{ event.player1.name }} <img :src="imgSelector(event.type)"/></td>
        <td align="right" style="width: 300px;" v-else>{{ event.player1.name }} <img :src="imgSelector(event.type)"/>
        </td>
        <td style="width: 60px;">{{ zeroPad(Math.floor(event.time / 60)) }}:{{ zeroPad(event.time % 60) }}</td>
        <td style="width: 300px;"></td>
      </template>
      <template v-else>
        <td style="width: 300px;"></td>
        <td style="width: 60px;">{{ zeroPad(Math.floor(event.time / 60)) }}:{{ zeroPad(event.time % 60) }}</td>
        <td align="left" style="width: 300px;" v-if="event.player2 != null"><img :src="imgSelector(event.type)"/>
          {{ event.player1.name }}
          <font-awesome-icon icon="angle-double-left"/>
          {{ event.player2.name }}
        </td>
        <td align="left" style="width: 300px;" v-else><img :src="imgSelector(event.type)"/> {{ event.player1.name }}
        </td>
      </template>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'EventLog',
  data () {
    return {
      state: this.$store.state,
      GOAL: 'GOAL',
      OWN_GOAL: 'OWN_GOAL',
      RED: 'RED',
      YELLOW: 'YELLOW',
      HOME: 'HOME',
      AWAY: 'AWAY'
    }
  },
  methods: {
    zeroPad (num) {
      return num.toLocaleString('en', { minimumIntegerDigits: 2 })
    },
    imgSelector (type) {
      switch (type) {
        case 'GOAL':
          return '/static/goal.png'
        case 'OWN_GOAL':
          return '/static/own.png'
        case 'RED':
          return '/static/red.png'
        case 'YELLOW':
          return '/static/yellow.png'
      }
    }
  }
}
</script>

<style scoped>
  table {
    margin: 46px auto;
  }

  .bottom-bordered th,
  .bottom-bordered td {
    border-bottom: 1px solid #ddd;
  }
</style>
