<template>
  <div>
    <div class="navbar">
      <div @click="tab = 'matches'" class="button left">Matches</div>
      <div @click="tab = 'teams'" class="button left">Teams</div>
      <div v-if="state.session.user === ''">
        <router-link class="button right" tag="div" to="/login">Sign In</router-link>
      </div>
      <template v-else>
        <router-link class="button right" tag="div" to="/logout">Sign Out</router-link>
        <div class="text right" style="white-space: pre">Hello, {{ state.session.user }}      |</div>
      </template>
    </div>
    <div style="margin-top: 60px" v-if="tab === 'matches'">
      <h1>Matches</h1>
      <table align="center">
        <tr :key="match.id" :style="matchColorSelector(match.state)" v-for="match in state.info.matches">
          <td class="team-name">{{ match.home_team.name }}</td>
          <td style="font-size: larger; min-width: 40px">
            <router-link :to="'/match/' + match.id">{{ match.goals_home }} : {{ match.goals_away }}</router-link>
          </td>
          <td class="team-name">{{ match.away_team.name }}</td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 60px" v-if="tab === 'teams'">
      <h1>Teams</h1>
      <div style="overflow-x: auto">
        <table align="center"> <!-- TODO maybe overflow-x can be applied to <table> directly, needs testing.  -->
          <tr style="font-weight: bold">
            <th>Name</th>
            <th>Games</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>GF</th>
            <th>GA</th>
            <th>D</th>
            <th>P</th>
          </tr>
          <tr v-bind:key="team.id" v-for="team in state.info.teams">
            <td class="team-name">
              <router-link :to="'/team/' + team.id">{{ team.name }}</router-link>
            </td>
            <td>{{ team.games }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.losses }}</td>
            <td>{{ team.draws }}</td>
            <td>{{ team.goals_for }}</td>
            <td>{{ team.goals_against }}</td>
            <td>{{ team.diff }}</td>
            <td>{{ team.points }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FrontPage',
  data () {
    return {
      state: this.$store.state,
      tab: 'matches'
    }
  },
  methods: {
    matchColorSelector (state) {
      switch (state) {
        case 'ONGOING':
          return 'background-color: antiquewhite'
        case 'SCHEDULED':
          return 'background-color: lightgrey'
        case 'OVER':
          return 'background-color: lightskyblue'
      }
    }
  },
  beforeCreate () {
    Promise.all([
      this.$store.dispatch('info/refreshTeams'),
      this.$store.dispatch('info/refreshMatches')
    ])
  }
}
</script>

<style scoped>
  .navbar {
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .navbar .button, .navbar .text {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
  }
  .button {
    cursor: pointer;
  }
  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .navbar .button:hover {
    background: #dddddd;
    color: black;
  }
  td, th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  .team-name {
    width: 300px;
    min-width: 100px;
    max-width: 300px;
    word-break: break-word;
  }
</style>
