<template>
  <div style="padding-top: 15%">
    <h2>Sign In</h2>
    <form @submit.prevent style="margin-bottom: 20px">
      <div class="alert" v-if="error">Invalid combination of login and password</div>
      <input placeholder="Login" v-model="login"><br/>
      <input placeholder="Password" type="password" v-model="password"><br/>
      <button @click="tryLogIn">Log In</button>
    </form>
    <router-link to="/">Back</router-link>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
  data () {
    return {
      login: '',
      password: '',
      error: false
    }
  },
  methods: {
    async tryLogIn () {
      const login = this.login
      const password = this.password
      await this.$store.dispatch('session/logIn', { login, password })
        .then(session => {
          this.$cookies.set('session', session)
          this.$router.push('/')
        })
        .catch(() => {
          this.error = true
        })
    },
    beforeCreate () {
      this.$store.dispatch('session/logOut')
      this.$cookies.remove('session')
    }
  }
}
</script>

<style scoped>
  form input {
    margin: 3px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }

  .alert {
    padding: 15px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
</style>
