<template>
  <div></div>
</template>

<script>
export default {
  name: 'LogoutPage',
  async created () {
    await this.$store.dispatch('session/logOut')
    this.$cookies.remove('session')
    this.$router.push('/')
  }
}
</script>

<style scoped>

</style>
