<template>
  <div v-if="loaded">
    <div align="left" style="margin: 10px">
      <a @click="$router.push('/')" style="text-decoration: underline; color: blue; cursor: pointer">Back</a>
    </div>
    <table>
      <tr>
        <th class="team-name">{{ state.info.match.home_team.name }}</th>
        <th style="font-size: 200%; min-width: 70px; width: 70px">{{ state.info.match.goals_home }} : {{
          state.info.match.goals_away }}
        </th>
        <th class="team-name">{{ state.info.match.away_team.name }}</th>
      </tr>
    </table>
    <event-log></event-log>
    <div v-if="state.info.match.state === 'SCHEDULED' && state.session.role === 'editor'">
      <router-link :to="'/match/' + state.info.match.id + '/edit'">Start match!</router-link>
    </div>
    <div v-if="state.info.match.state === 'ONGOING' && state.session.role === 'editor'">
      <router-link :to="'/match/' + state.info.match.id + '/edit'">Manage match</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MatchPage',
  data () {
    return {
      state: this.$store.state,
      loaded: false
    }
  },
  async beforeCreate () {
    await this.$store.dispatch('info/getMatch', { id: this.$route.params.id })
    this.loaded = true
  }
}
</script>

<style scoped>
  table {
    margin: 46px auto;
  }

  .team-name {
    width: 300px;
    max-width: 300px;
    word-break: break-word;
  }
</style>
