<template>
  <div>
    <div align="left" style="margin: 10px">
      <a @click="$router.push('/')" style="text-decoration: underline; color: blue; cursor: pointer">Back</a>
    </div>
    <h1>{{ state.info.team.name }}</h1>
    <table align="center">
      <tr>
        <th>Name</th>
        <th><abbr title="Shots">S</abbr></th>
        <th class="abbr" title="Shots on target">SoT</th>
        <th class="abbr" title="Goals">G</th>
        <th class="abbr" title="Penalties">P</th>
        <th class="abbr" title="Penalties scored">PS</th>
        <th class="abbr" title="Own goals">O</th>
        <th class="abbr" title="Assists">A</th>
        <th class="abbr" title="Saves">Sa</th>
        <th class="abbr" title="Yellow cards">Y</th>
        <th class="abbr" title="Red cards">R</th>
      </tr>
      <tr :key="player.id" v-for="player in state.info.team.players">
        <td align="left">{{ player.name }}</td>
        <td>{{ player.shots }}</td>
        <td>{{ player.shots_on_target }}</td>
        <td>{{ player.goals_scored }}</td>
        <td>{{ player.penalties }}</td>
        <td>{{ player.penalties_scored }}</td>
        <td>{{ player.goals_own }}</td>
        <td>{{ player.assists }}</td>
        <td>{{ player.saves }}</td>
        <td>{{ player.yellows }}</td>
        <td>{{ player.reds }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'TeamPage',
  data () {
    return {
      state: this.$store.state
    }
  },
  beforeCreate () {
    this.$store.dispatch('info/getTeam', { id: this.$route.params.id })
  }
}
</script>

<style scoped>
  .abbr {
    text-decoration: underline dotted;
    cursor: help;
  }

  td, th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
</style>
